.nav,
.nav-home {
  width: -webkit-fill-available;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  height: 18vh;
  align-items: center;
  padding: 0 3vw;
  gap: 3vw;
}

.nav-home {
  position: absolute;
  background-color: transparent;
  top: 0;
}

#brand-logo {
  color: rgb(51, 50, 50);
  font-family: "cursive";
  font-weight: 900;
  min-width: fit-content;
  padding-left: 3%;
}

.nav-home #brand-logo {
  padding-left: 5%;
}

#searchBar {
  min-width: 22vw;
  flex: 4 0;
  position: relative;
}

#searchBar svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

input::placeholder {
  color: rgb(0, 0, 0);
}

#nav-menu {
  display: flex;
  gap: 3vw;
  justify-content: right;
  color: rgb(1, 14, 1);
  min-width: fit-content;
}

.menu {
  color: rgb(29, 28, 28);
  text-decoration: none;
  padding-bottom: 1px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  height: 20px;
}

.menu:hover {
  color: rgb(252, 252, 252);
  margin-top: -4px;
}

/* .nav .menu:hover,
.nav button:hover,
.nav svg:hover,
.nav .menu:hover .bi-cart {
  color: rgb(212, 70, 13);
} */
.nav .menu:hover {
  color: rgb(0, 0, 0);
}

.bi-cart {
  padding-right: 20px;
  color: rgb(30, 31, 31);
}

.nav-home svg:hover,
.nav-home .menu:hover .bi-cart {
  color: rgb(247, 248, 247);
}

.cartContainer {
  position: relative;
  width: 25px;
  height: 20px;
  margin-right: 25px;
}

.cartContainer:hover {
  margin-top: -4px;
}

#cartTotalItems {
  position: absolute;
  top: -20px;
  right: -10px;
  color: black;
  background-color: rgb(248, 245, 245);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
}
.nav .menu:hover #cartTotalItems {
  color: inherit;
}

@media (max-width: 768px) {
  #nav-menu {
    display: none;
  }
  .menu {
    display: none;
  }
}
